<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Demo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>com.cswu.TestServlet</servlet-class>
  	<!-- 初始参数列表,ServletConfig接口 -->
  	<init-param>
  		<param-name>test</param-name>
  		<param-value>leee</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  	<url-pattern>/</url-pattern><!-- 默认路径 ，多重映射-->
  </servlet-mapping>
  <servlet>
  	<servlet-name>testServlet</servlet-name>
  	<servlet-class>com.cswu.TestContent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>testServlet</servlet-name>
  	<url-pattern>/TestContent</url-pattern>
  </servlet-mapping>
</web-app>