<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sybinal.shop.mapper.FootPrintMapper">

	<resultMap id="BaseResultMap" type="com.sybinal.shop.model.FootPrint">
			<id column="id" jdbcType="INTEGER" property="id" />
			<result column="user_id" jdbcType="INTEGER" property="userId" />
			<result column="product_id" jdbcType="INTEGER" property="productId" />
			<result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
	</resultMap>


	<resultMap id="FootPrintRelationResultMap" type="com.sybinal.shop.model.FootPrintRelation">
			<id column="f_id" jdbcType="INTEGER" property="id" />
			<result column="f_user_id" jdbcType="INTEGER" property="userId" />
			<result column="f_product_id" jdbcType="INTEGER" property="productId" />
			<result column="f_date_time" jdbcType="TIMESTAMP" property="dateTime" />
			
			<collection column="p_id" ofType="com.sybinal.shop.model.Product" property="productList">
			   	<id column="p_id" jdbcType="INTEGER" property="id" />
				<result column="p_name" jdbcType="VARCHAR" property="name" />
				<result column="p_category_id" jdbcType="INTEGER" property="categoryId" />
				<result column="p_general_explain" jdbcType="VARCHAR" property="generalExplain" />
				<result column="p_discount" jdbcType="INTEGER" property="discount" />
				<result column="p_shop_price" jdbcType="INTEGER" property="shopPrice" />
				<result column="p_price" jdbcType="INTEGER" property="price" />
				<result column="p_external_id" jdbcType="VARCHAR" property="externalId" />
				<result column="p_quantity" jdbcType="INTEGER" property="quantity" />
				<result column="p_hot" jdbcType="INTEGER" property="hot" />
				<result column="p_product_status" jdbcType="INTEGER" property="productStatus" />
				<result column="p_inventory_flag" jdbcType="INTEGER" property="inventoryFlag" />
				<result column="p_explain" jdbcType="LONGVARCHAR" property="explain" />
		    	<result column="p_default_img" jdbcType="VARCHAR" property="defaultImg" />
		    	<result column="p_sort_order" jdbcType="INTEGER" property="sortOrder" />
			</collection>
	</resultMap>
	<select id="selectFootPrintRelationById" parameterType="com.sybinal.shop.model.FootPrint" resultMap="FootPrintRelationResultMap">
		SELECT
			p.id AS p_id ,
			p.name AS p_name ,
			p.category_id AS p_category_id ,
			p.explain AS p_explain ,
			p.general_explain AS p_general_explain ,
			p.discount AS p_discount ,
			p.shop_price AS p_shop_price,
			p.price AS p_price,
			p.external_id AS p_external_id,
			p.quantity AS p_quantity,
			p.hot AS p_hot,
			p.product_status AS p_product_status,
			p.inventory_flag AS p_inventory_flag,
			p.default_img AS p_default_img,
			p.sort_order AS p_sort_order,			
			f.id AS f_id ,
			f.user_id AS f_user_id ,
			f.product_id AS f_product_id,
			f.date_time AS f_date_time
		FROM product AS p LEFT JOIN 
		(select * from footprint where id in (SELECT MAX(id) from footprint GROUP BY user_id,product_id)) AS f 
		ON p.id = f.product_id
		WHERE f.user_id = #{userId,jdbcType=INTEGER}
		ORDER BY f.id DESC
	</select>
	
	<insert id="insertFootPrint" parameterType="com.sybinal.shop.model.FootPrint" >
		insert into footprint
		<trim prefix="(" suffix=")" suffixOverrides=",">
      	<if test="userId != null">
        user_id,
      	</if>
     	<if test="productId != null">
        product_id,
      	</if>
      	<if test="dateTime != null">
        date_time,
      	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="dateTime != null">
         #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
	</insert>

	<delete id="deleteFootPrint" parameterType="com.sybinal.shop.model.FootPrint">
		delete from footprint where user_id=#{userID,jdbcType=INTEGER} and product_id=#{productId,jdbcType=INTEGER}
	</delete>
</mapper>